@import url('https://fonts.googleapis.com/css?family=Roboto');
.background {
background-image: url('https://c1.staticflickr.com/4/3791/10851397194_32e201553a_b.jpg');
background-repeat: no-repeat;
background-size: cover;
color: #ffffff;
font-family: Roboto,Helvetica,Arial,sans-serif;
width: 100%;
min-width: 285px;
line-height: 1.6em;
height: 100%;
font-weight: 400;

}
.mineul{
    position: absolute;
    color :#fff;
}
.containerTotal{
    color: #333;
}

.header {
    text-align: center;
    margin-top: 2em;
    z-index: 100;
    width: 100%;
    position: fixed;
}

.branding {
    position: absolute;
    top: 36%;
    width: 10%;
    left: 5%;
    
}
.header-nav-menu {
    position: relative;
    left: 18%;
}
.header-nav-menu li{
    padding: 12px;
    padding-top: 14px;
    display: inline-block;
    cursor: pointer;
    font-size: 1em;
}

.header-nav-menu li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}
.header-nav-menu-no li a {
    font-size: 1.2em;
    color: #f06;
    text-decoration: none;
}
.navbar-brand {
    float: left;
    height: 4em;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.trapezium {
    position: relative;
    text-align: center;
    left: -5%;
    width: 50%;
    min-width: 220px;
    border-right: 109px solid transparent;
    border-bottom: 900px solid #f06;
}
.search-product{
    position: absolute;
    margin-top: 150px;
    left:10%;
}
.product-search h2 {
    color: #fff;
    font-size: 1.3em;
}
#add-items-header {
    font-size: 1.8em;
    margin: 2em 2em 2em 2em;
    text-align: left;
}
#add-items-headerh2{
    position: relative;
    left: 11%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}
.main-item-search{
    padding: 10px 0;
    padding-bottom: 5px;
    color: #fff;
    border: none;
    font-size: 1.5em;
    font-weight: 700;
    background: url(/images/icons/search-input-white.svg) no-repeat;
    background-size: 18px;
    background-position: right bottom 8px;
    background: url(/images/icons/search-input.svg) no-repeat;
    background-position: right 15px center;
    background-color: #f0f0f0;
    background-size: 20px;
    color: #333;
    padding: 15px;
    font-size: 1.2em;
    font-weight: 300;
}
.input-products {
    overflow: hidden;
    position: absolute;
    left: 85%;
    width: 115%;
    height: 900px;
    background-color: #fff;
    z-index: 1000;
    margin-left: 10px;
    margin-left: 17px;
    text-align: center;
}

.productTitl{
    color: #222222;
    font-size: 14px;
    margin-top: 4vh;
}

.productTitl img{
    height: 100px;
    margin: auto;
} 
.dropdown{
    position: relative;
    margin-top: 4em;
    left: 7%;
}
