@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

@media (max-width: <SIZE>px) { .card-wrapper {} }

.group { 
  position: relative; 
  margin-bottom: 25px; 
}

.input {
  font-size: 13px;
  height: 25px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  outline: none;
  border-bottom: 1px solid #B1B1B1;
  color: #B1B1B1;
  background: rgba(0,0,0,0);
  opacity: 0.5;
  transition: 0.2s ease;
}

.input:focus {
  outline: none;
  opacity: 1;
}

.label {
  color: #B1B1B1; 
  font-size: 13px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 15px;
  opacity: 0.5;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

/* active state */
.input:focus ~ label, input:valid ~ label 		{
  top: -10px;
  font-size: 12px;
  color: #B1B1B1;
  opacity: 1;
}

.highlight {
  position: absolute;
  height: 60%; 
  width: 100px; 
  top: 25%; 
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.bolder,
.light {
  font-weight: 400;
}
.confirmation-note {
  /* margin-bottom: 0; */
  line-height: 18px;
}
.ul__confirmation> li {
 list-style-image: url(https://inmybag.co/images/icons/tick.svg);
  background-position: left 0 top .5em;
  background-repeat: no-repeat;
  padding: 0 0 0 1.5em;
  background-size: 14px 14px;
  font-size: .9em;

}
li {
  list-style-type: none;
}
.a {
  color: #f06;
  text-decoration: none;
}
.checkbox-list label {
  cursor: pointer;
  color: #222;
  font-size: 1em;
  text-transform: none;
  margin-bottom: -2px;
}
.checkbox-list {
  margin: 0;
  margin-top: 10px;
  font-size: 1.2em;
}
.confirmation-note {
  margin-bottom: 0;
  line-height: 18px !important;
}

.button,
label.upload-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #3f8ddf;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  padding: .8em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: normal;
  min-width: 100px;
}
.centered-text {
  text-align: center;
}

input:not([type]),
input[type=color],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
select[multiple=multiple],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-sizing: border-box;
  background: none;
  border: none;
  border-bottom: 1px solid #aaa;
  color: #333;
  line-height: 1em;
  font-size: 1em;
  padding: 0 5px;
  padding-bottom: .1em;
  margin: 0;
  width: 100%;
  border-radius: 0;
  z-index: 5;
  position: relative;
  box-shadow: none;
}

.billing-schedule-wrap, .crashplan-wrap, .discount-wrap {
    padding: 25px 15px;
}


.choose-payment-source, .choosePaymentMethod {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto 1em;
    background: #edf2f5;
    text-align: center;
}
.choose-payment-source label, .choosePaymentMethod label {
    width: 50%;
    cursor: pointer;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background:#ff4b93;
    color: #fff;
    border-right: 1px solid;
    font-size: .9em;
    line-height: 1.2em;
}
/* :target {
  background: red;
}
*/
.choosePaymentMethod label:active {
   background: #ff0066;
} 

.button-full-width, label.upload-button-full-width {
    width: 100%;
}


/*CSS DATAUSER*/

.pageaccount{
    background:#F5F5F5;
  } 

  .grey-text{
    color: #9C9C9C;
  }

  .signup-progress-wrap{
    height:20px;
    float:right;
    width:130px;
    font-size:.8em;
    line-height:.8em;
    margin-top:10px
  }
 
  .signup-progress-wrap .signup-progress-bar .progress-item .progress-value{
  height:6px;
  width:6px;
  margin:0 auto;
  border-radius:50px;
  background:#ccc;
  text-align:center;
  line-height:22px;
  font-size:12px;
  color:#fff
  }
  .signup-progress-wrap .signup-progress-bar .progress-item-active .progress-value{
  background:#f06
  }
  .grey-widget,.white-widget{
  background:#f6f6f6;
  display:table;
  padding:0 4%;
  position:relative
  }

  .registeration{

      border-top: 5px solid #E01A66;
      -webkit-box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
      -moz-box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
      box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
      margin-top: 50px;
  
  }
  
  .registerInner{
   margin: 15px;
  }
  
  
  
  
  .form-group{
      width: 100%;
      line-height: 50px;   
  }
  
  .signbuttons{
      margin-bottom: 35px;
  }
  
  input{
      border-top: none !important;
      border-right: none !important;
      border-left: none !important;
      border-bottom: 1px #888888 !important;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      -moz-transition: none !important;
      -webkit-transition: none !important;
  }
  
  .headerSign{
      color: #2196f3;
      margin-bottom: 20px;
      text-align: center;
  }
  
  .form-control{
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px dotted #C90E4F !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
}
