@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);


.group { 
  position: relative; 
  margin-bottom: 25px; 
}

.input {
  font-size: 13px;
  height: 25px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  outline: none;
  border-bottom: 1px solid #B1B1B1;
  color: #B1B1B1;
  background: rgba(0,0,0,0);
  opacity: 0.5;
  transition: 0.2s ease;
}

.input:focus {
  outline: none;
  opacity: 1;
}

.label {
  color: #B1B1B1; 
  font-size: 13px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 15px;
  opacity: 0.5;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

.input:focus ~ label, input:valid ~ label 		{
  top: -10px;
  font-size: 12px;
  color: #B1B1B1;
  opacity: 1;
}

.highlight {
  position: absolute;
  height: 60%; 
  width: 100px; 
  top: 25%; 
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active stat
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#B1B1B1; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#B1B1B1; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#B1B1B1; }
  to 	{ width:0; background:transparent; }
}


.bolder,
.light {
  font-weight: 400;
}
.confirmation-note {
  /* margin-bottom: 0; */
  line-height: 18px;
}
.ul__confirmation> li {
 list-style-image: url(https://inmybag.co/images/icons/tick.svg);
  background-position: left 0 top .5em;
  background-repeat: no-repeat;
  padding: 0 0 0 1.5em;
  background-size: 14px 14px;
  font-size: .9em;

}
li {
  list-style-type: none;
}
a {
  color: #f06;
  text-decoration: none;
}
.checkbox-list label {
  cursor: pointer;
  color: #222;
  font-size: 1em;
  text-transform: none;
  margin-bottom: -2px;
}
.checkbox-list {
  margin: 0;
  margin-top: 10px;
  font-size: 1.2em;
}
.confirmation-note {
  margin-bottom: 0;
  line-height: 18px !important;
}

.button,
label.upload-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #3f8ddf;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  padding: .8em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: normal;
  min-width: 100px;
}
.centered-text {
  text-align: center;
}
label.floating-placeholder.invalid {
  color: #ff4d4d;
}
label.floating-placeholder-blurred {
  color: #444;
  top: -12px;
  opacity: 1;
}
label.floating-placeholder-active {
  color: #f06;
  top: -12px;
  opacity: 1;
}
label.floating-placeholder {
  position: absolute;
  top: -9px;
  opacity: 0;
  transition: all .4s ease;
  z-index: 2;
  left: 0;
}
label.floating-placeholder.invalid {
    color: #ff4d4d;
}

label.floating-placeholder-blurred {
    color: #444;
    top: -12px;
    opacity: 1;
}

label {
  font-weight: 500;
  font-size: .7em;
  line-height: 1em;
  padding: 0 5px;
  color: #f06;
  /* display: block; */
  margin-bottom: -5px;
  text-transform: uppercase;
}
.payment-details {
  padding: 25px 15px;
}
input:not([type]),
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=file],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
select[multiple=multiple],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-sizing: border-box;
  background: none;
  border: none;
  border-bottom: 1px solid #aaa;
  color: #333;
  line-height: 1em;
  font-size: 1em;
  padding: 0 5px;
  padding-bottom: .1em;
  margin: 0;
  width: 100%;
  border-radius: 0;
  z-index: 5;
  position: relative;
  box-shadow: none;
}
.pri {
    color: #f06;
}
.billing-schedule-wrap, .crashplan-wrap, .discount-wrap {
    background: #fff;
    padding: 25px 15px;
}
@media screen and (max-width: 760px){}

.choose-payment-source, .choosePaymentMethod {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto 1em;
    background: #edf2f5;
    text-align: center;
}
.choose-payment-source label, .choosePaymentMethod label {
    width: 50%;
    cursor: pointer;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background: #666;
    color: #fff;
    border-right: 1px solid #fff;
    font-size: .9em;
    line-height: 1.2em;
}
.billing-schedule-wrap p, .crashplan-wrap p {
    color: #555;
}
.billing-schedule-wrap p, .crashplan-wrap p, .discount-wrap p {
    font-size: .9em;
}


user agent stylesheet
input {
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
user agent stylesheet
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
   /* margin: 0em;*/
    font: 13.3333px Arial;
}
.button-full-width, label.upload-button-full-width {
    width: 100%;
}


/*CSS DATAUSER*/

.pageaccount{
    background:#F5F5F5;
  } 

  .grey-text{
    color: #9C9C9C;
  }

  .signup-progress-wrap{
    height:20px;
    float:right;
    width:130px;
    font-size:.8em;
    line-height:.8em;
    margin-top:10px
  }
  .signup-progress-wrap .signup-progress-stage{
  float:left;
  width:55%;
  color:#888
  }
  .signup-progress-wrap .signup-progress-bar{
  float:right;width:45%;
  display:flex;
  margin-top:2px
  }
  .signup-progress-wrap .signup-progress-bar .progress-item{
  flex-grow:1;
  flex-basis:0;
  font-size:.6em
  }
  @media screen and (min-width:760px){
  .signup-progress-wrap .signup-progress-bar .progress-item{
      font-size:.8em
  }
  }
  .signup-progress-wrap .signup-progress-bar .progress-item:first-child{
  border-top-left-radius:3px;
  border-bottom-left-radius:3px
  }
  .signup-progress-wrap .signup-progress-bar .progress-item .progress-info
  {
  width:auto;
  margin:0 auto;
  text-align:center;
  line-height:1em
  }
  .signup-progress-wrap .signup-progress-bar .progress-item .progress-value{
  height:6px;
  width:6px;
  margin:0 auto;
  border-radius:50px;
  background:#ccc;
  text-align:center;
  line-height:22px;
  font-size:12px;
  }
  .signup-progress-wrap .signup-progress-bar .progress-item-active .progress-value{
  background:#f06
  }
  .grey-widget,.white-widget{
  color:#444;
  display:table;
  width:100%;
  padding:0 4%;
  position:relative
  }

  .registeration{

      margin-top: 50px;
  
  }
  
  .registerInner{
   margin: 15px;
  }
  
  
  .form-group{
      width: 100%;
      line-height: 50px;   
  }
  
  .signbuttons{
      margin-bottom: 35px;
  }
  
  input{
      border-top: none !important;
      border-right: none !important;
      border-left: none !important;
      border-bottom: 1px #888888 !important;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      -moz-transition: none !important;
      -webkit-transition: none !important;
  }
  
  .headerSign{
      color: #2196f3;
      margin-bottom: 20px;
      text-align: center;
  }
  
  .manualAddress{
      color: #F32156;
      text-decoration: none;
      font-size: 18px;
  }

  .manualAddress:hover{
    color: #A3052F;
    text-decoration: none;

  }